.gallery-page {
    position: relative;
    width: 100vw; min-height: 90vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    overflow: hidden;
}

.gallery-page .gallery {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  margin: 50px 15vw;
}

.gallery-page a.img {
  width: 200px;
  height: 200px;
  margin: 2px;
}

.gallery-page a.img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 2px;
  transform: scale(0);
  transition: all .3s cubic-bezier(.25,.1,.25,1.1);
}

.gallery-page a.img img.show {
  transform: scale(1);
}

.gallery-page a.img:hover img {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  transform: scale(1.03);
}

@media all and (max-width: 1066px) {
  .gallery-page .gallery {
    margin: 30px 10px;
  }

  .gallery-page a.img {
    width: 160px;
    height: 160px;
  }
}

@media all and (max-width: 875px) {
  .gallery-page .gallery {
    margin: 30px 10px;
  }

  .gallery-page a.img {
    width: 120px;
    height: 120px;
  }
}

@media all and (max-width: 420px) {
  .gallery-page .gallery {
    margin: 30px 2px;
  }

  .gallery-page a.img {
    width: 100px;
    height: 100px;
  }
}