.info-page {
    position: relative;
    width: 100vw; min-height: 100vh;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.idCard {
    width: 100%;
    display: flex;
    justify-content: center;
    color: aliceblue;
    transform: translateY(150px);
}
.idCard > table {
    width: 70%;
    background-color: #252525de;
    border-radius: 5px;
    cursor: pointer;
    backdrop-filter: blur(5px);
    box-shadow: 0 37.125px 70px -50.125px rgba(0,0,0,0.3);
}
.idCard > table > tbody > tr {
    display: flex;
    justify-content: space-around;
    text-align: center;
    height: 3em;
    line-height: 3em;
}
.idCard > table > tbody > tr:hover {
    background-color: rgba(0, 0, 0, 0.11);
}
.idCard > table > tbody > tr > td {
    width: 100%;
    display: flex;
    justify-content: center;
}
.idCard > table > tbody > tr > td:nth-child(2) {
    font-weight: 300;
}
.idCard > table > tbody > tr > td > i {
    line-height: 3em;
    margin-right: 1em;
}
.idCard > table > tbody > tr:nth-child(2) {
    border-top: .3px solid aliceblue;
    border-bottom: .3px solid aliceblue;
}

@media all and (max-width: 800px){
    .name {
        font-size: 2.7em;
        height: 2em;
    }
    .section {
        width: 90%;
        padding: 2em 1.5em;
    }
    .idCard > table {
        width: 90%;
    }
}