.villages {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    width: 80%;
    padding: 5em 0;
}


.card {
  width: 290px;
  height: 400px;
  background-color: #222;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 10px rgb(0, 0, 0);
  margin: 1em;
  }

  .card .title-mask {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 10px;
    width: 100%;
    height: 50%;
    background: linear-gradient(to bottom, black, transparent);
    z-index: 1;
    opacity: 1;
    transition: opacity 0.2s linear; 
  }

  .card .village-name {
    position: relative;
    font-size: 2.3em;
    margin-left: .5em;
    color: #D7C469;
    z-index: 2;
    font-weight: 400;
  }

  .card .cardBg {
    position: absolute;
    width: 100%; height: 100%;
    filter: brightness(1);
  }
  
  .card .fab-btn {
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
  
  .card .mediaButton {
    position: absolute;
    bottom: 20px;
    left: 90px;
    width: 50px;
    height: 50px;
    background: #B5D878;
    border-radius: 50%;
  }
  .card .infoButton {
    position: absolute;
    bottom: 20px;
    left: 20px;
    width: 50px;
    height: 50px;
    background: #B5D878;
    border-radius: 50%;
  }
  
  .card .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
  }
  
  .card input {
    z-index: 5;
    opacity: 0;
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    cursor: pointer;
  }
  
  .card .overlay {
    background-color: #252525;
    color: #CBDBC0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 31px;
    font-weight: bold;
    border-radius: 50%;
    box-shadow: 0 0 0 0 #B5D878;
    transition: all 0.2s linear; 
  }

  .card label.plusToggle .overlay span {
    transition: all 0.4s ease-out;
    transform-origin: center center;
    padding: 0 0 3px 0;
    font-weight: 200;
  }
  
  .card .content {
    position: relative;
    color: #100C0D;
    height: calc(100% - 80px);
    position: relative;
    z-index: 6;
    visibility: hidden;
    overflow: visible;
    opacity: 0;
    transition: all 0.2s linear .3s;
  }
  
  .card input:checked ~ div label .overlay {
    box-shadow: 0 0 0 350px #CBDBC0;
  }

  .card input:checked ~ .content {
    opacity: 1;
    visibility: visible;
  }

  .card input:checked ~ .content .bus-schedule {
    display: flex;
  }

  .card input:checked ~ .village-name {
    display: none;
  }

  .card input:checked ~ .title-mask {
    opacity: 0;
  }
  
  .card input:checked ~ div label .overlay span {
    transform: rotate(224deg);
  }

  .bus-schedule {
    position: absolute;
    top: 10%;
    display: none;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }

  .bus-schedule > .bus-title {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3em;
    font-weight: 600;
  }
  .bus-schedule > .bus-title > i {
    margin: 0 1em;
  }

  .bus-schedule > .schedule {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-size: 1.3em;
  }

  .bus-schedule > .schedule p {
    width: 50%;
    margin: .5em 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: .7em;
    font-weight: 200;
  }

  .bus-schedule > .schedule p:first-child,
  .bus-schedule > .schedule p:nth-child(2) {
    font-size: .8em;
    font-weight: 400;
  }


  @media screen and (max-width: 1025px) {
    .villages {
      width: 100%;
    }
  }