.footer {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 30vh;
    width: 100%;
    margin: 3em 0;
}

.footer .wrapper {
    width: 80%;
    min-height: 10em;
    max-width: 1640px;
    padding: 2em 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background: #F2F2F2;
    border-radius: 15px;
    box-shadow: 0 37.125px 70px -50.125px rgba(0,0,0,0.3);
}

.footer .wrapper .btn .contact {
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(-100%);
    width: 100%;
    height: 100%;
    background: teal;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    transition: transform .3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.footer .wrapper .btn.margin-up-1:hover .contact {
    transform: translateX(0);
}


.margin-up-1 {
    margin: 1em auto;
    transition: .3s ease-in;
}

@media all and (max-width: 1300px){
    .footer .wrapper {
        min-width: 300px;
        max-width: 50%;
        align-items: stretch;
        flex-direction: column;
    }
}