body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  width: 100vw;
  overflow-x: hidden;
  background-color: aliceblue;
}

*{outline: 0;}

a {text-decoration: none; color: inherit;}

.app-footer {
  position: relative;
  width: 100%;
  text-align: center;
  margin-top: 2em;
  margin-bottom: .3em;
  font-size: .9em;
}


.bgPage {
  position: fixed;
  width: 100%; height: 145vh;
  top: 0; left: 0;
  background-image: url('/media/home/bg-small.jpg');
  background-position: 25%;
  background-size: cover;
  opacity: .9;
  filter: brightness(85%);
  z-index: -1;
}

/* Scrollbar Styling */
::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}

::-webkit-scrollbar-track {
  background-color: #757575;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: black; 
}

/*scroll to top*/
.scrollToTop {
  text-align: center;
  padding: 0;
  position: fixed;
  bottom: 15px;
  right: 15px;
  color: rgba(255, 255, 255, 0.541);
  box-shadow: 0 0 2px 1px rgba(255, 255, 255, 0.671);
  border: none;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  line-height: 40px;
  background-color: rgba(0, 0, 0, 0.418);
  background-image: url('/media/home/arrow-down.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 13px;
  transform: rotateZ(180deg);
  transition: opacity 0.5s ease 0s;
  -moz-transition: opacity 0.5s ease 0s;
  -webkit-transition: opacity 0.5s ease 0s;
  -o-transition: opacity 0.5s ease 0s;
  opacity: 0.5;
  cursor: pointer;
}

.scrollToTop:focus{outline: 0;}

.scrollToTop:hover {
  opacity: 1;
}
