body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  width: 100vw;
  overflow-x: hidden;
  background-color: #CBDBC0;
}

.app-footer {
  width: 100%;
  text-align: center;
  margin-top: 2em;
  margin-bottom: .3em;
  font-size: .9em;
}

/* Scrollbar Styling */
::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}

::-webkit-scrollbar-track {
  background-color: #757575;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: black; 
}